.centered-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.body {
  background-color: #535354;
  max-width: 300px;
  max-height: 300px;
}

.grid-container {
  display              : grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
}

.grid-item.two-wide {
  grid-column: span 2;
}

.grid-item.four-wide {
  grid-column: span 4;
}

.calculator-display {
  font-size: 2rem;
  font-weight: 200;

  color: #FFF;
  text-align: right;

  margin-right: 10px;
}